/* Configuracion general de la pagina */
body{
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estilos de la seccion de De Interés (FOOER) */
.de-interes {
  width: 100%;
  height: 25rem;
  background-image: url("../images/fotos/Home/imagenes/final_de_la_nave.png");
  background-color: #410645;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  gap: 18rem;
  padding-top: 1rem;

  /* Columnas del footer */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 80%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0.9rem 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  /* Redes sociales */
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales a {
    width: 5rem;
    height: 5rem;
    margin-top: 0.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .redes-sociales a:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
}
