body {
  /* Configuracion general de la pagina */
  background-color: #314c9c;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Estilos del header */
.background-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: url("../images/fotos/Home/imagenes/centro_de_control.png");
  /* background-position: cover; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  object-position: center;
  /* Estilos del logo centrado */
  .logo-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 40vw;
      height: 14vh;
      position: relative;
      left: -1.6%; /* Reemplaza transform con left */
    }
  }
}

/* Estilos del video centrado */
.video-container {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  video {
    position: relative;
    left: 1.5%; /* Reemplaza translateX */
    z-index: 0;
    width: 38vw;
    height: 35vh;
    object-fit: cover;
    /* background: teal; */
    border-radius: 3rem;
  }
}

/* Estilos de los botones de navegacion */
.nav-container {
  position: absolute;
  top: 52%; /* Reemplaza translateY */
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.563rem;

  a img {
    width: 8.75rem;
    height: 3.125rem;
    border-radius: 40%;
  }

  .button-center {
    border-radius: 0.313rem;
    margin-top: -8%; /* Reemplaza translateY */
  }
}
.nav-container a img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Estilos de la seccion de novedades */
.novedades {
  width: 100%;
  height: 75rem;
  background-image: url("../images/fotos/Home/imagenes/piso.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  object-fit: cover;
  object-position: center;
  margin-top: -15rem;
  margin-bottom: 0rem;
  padding-bottom: 55vh; /* Espacio para el footer */

  h2 {
    position: absolute;
    top: 15rem; /* Reemplaza translateY */
    width: 100%;
    z-index: 4;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 2rem;
  }
}

/* Estilos del carousel de novedades */
.carousel-container {
  position: absolute;
  z-index: 4;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 105vh;
  height: 98vh;
  background-image: url("../images/fotos/Home/imagenes/instagram_marco.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3.75rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.carousel {
  position: absolute;
  z-index: 4;
  top: 7%;
  width: 100vh;
  height: 93vh;
  overflow: hidden;
  border-radius: 3rem;
  /* Contenedor del carousel */
  .reel-container {
    display: flex; /* Asegura que los reels estén en fila */
    width: 70%;
    height: 90%;
    transition: transform 0.5s ease-in-out;
    /* overflow: hidden; */
    gap: 4rem;
  }
  /* Cada reel debe ocupar el 100% del carousel */
  .instagram-media {
    width: 100%; /* Cada reel ocupa TODO el ancho del viewport */
    height: 100%;
    flex: 0 0 100%; /* Asegura que cada uno tome todo el espacio de la caja del elemento padre, ESTA ES LA CLAVE PARA QUE SE VEA DE A UN REEL*/
    border-radius: 1.25rem;
    border: none;
  }
}
/* Estilos de los botones del carousel */
.button-prev,
.button-next {
  position: absolute;
  z-index: 4;
  top: 55%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 6.25rem;
  img {
    width: 10vw;
    height: 19vh;
  }
}
.button-prev {
  left: 10%;
}
.button-next {
  right: 10%;
}
.button-prev:hover,
.button-next:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

/* Estilos de la seccion de De Interés */
.de-interes {
  width: 100%;
  height: 20rem;
  background-image: url("../images/fotos/Home/imagenes/final_de_la_nave.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  gap: 18rem;
  padding-top: 1rem;

  /* Columnas del footer */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 80%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0.5rem 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  /* Redes sociales */
  .redes-sociales {
    display: flex;
    justify-content: center;
  }
  .redes-sociales a {
    width: 5rem;
    height: 5rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
}
.redes-sociales a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.enlaces-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 25%;
  right: 0.125rem;
  z-index: 5;
  transition: transform 0.3s ease;
  img {
    margin-top: 0.625rem;
    width: 7rem;
    height: 7rem;
    filter: drop-shadow(0 0 10px rgb(93, 189, 204));
  }
}
.whatsapp:hover {
  transform: scale(1.1);
}
.dominik-icon:hover {
  transform: scale(1.1);
}
