/* Configuracion general de la pagina */
body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navigation-container {
  width: 100%;
  height: 10rem;
  background-image: url("../images/fotos/Parques/imagenes/parte_superior.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  position: relative;
  z-index: 10;
  a {
    position: relative;
    top: 1.5rem;
    left: 3rem;
    width: 30rem;
    height: 6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.hamburger-menu {
  margin: 1rem 1rem 0 0;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
  i {
    color: #ffffff;
    font-size: 3rem;
  }
}

/* Menu lateral */
.sidebar-menu {
  position: fixed;
  width: 15.625rem;
  height: 100vh;
  top: 0;
  right: -100%;
  background-color: #400645;
  z-index: 15;
  transition: 0.3s ease;
  padding-top: 60px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
  }
}

.sidebar-menu.active {
  right: 0;
}

.sidebar-menu a:hover {
  color: #00ffff;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  i {
    color: #ffffff;
    font-size: 2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.overlay.active {
  display: block;
}

/* Estilos de la seccion de De Interés (FOOER) */
.de-interes {
  width: 100%;
  height: 25rem;
  background-image: url("../images/fotos/Home/imagenes/final_de_la_nave.png");
  background-color: #410645;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  gap: 18rem;
  padding-top: 1rem;

  /* Columnas del footer */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 80%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0.9rem 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  /* Redes sociales */
  .redes-sociales {
    display: flex;
    justify-content: center;
    a {
      width: 5rem;
      height: 5rem;
      margin-top: 0.9rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
    }
  }
  .redes-sociales a:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
}
/* Estilos whatsapp y dominik icon*/

.enlaces-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 15%;
  right: 0.125rem;
  z-index: 5;
  transition: transform 0.3s ease;
  img {
    margin-top: 0.625rem;
    width: 6rem;
    height: 6rem;
    filter: drop-shadow(0 0 10px rgb(93, 189, 204));
  }
}
.whatsapp:hover {
  transform: scale(1.1);
}
.dominik-icon:hover {
  transform: scale(1.1);
}
