.space-background {
  background-image: url("../images/fotos/tratamiento_de_datos/imagenes/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.privacy-container {
  width: auto;
  height: auto;
  margin: 1rem 4rem 0 4rem;
  border-radius: 2rem;
  .privacy-header {
    width: 100%;
    height: 25rem;
    text-align: center;
    margin-bottom: 2rem;
    img {
      width: 40rem;
      height: 25rem;
      object-fit: fill;
      border-radius: 2rem;
    }
  }
  .privacy-content {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    padding-bottom: 5rem;
  }
}

.policy-section {
  background: rgba(75, 70, 70, 0.2);
  padding: 2rem 8rem 2rem 8rem;
  border-radius: 5rem;
  h2 {
    color: #00f7ff;
    font-size: 1.3em;
    margin-bottom: 1.25rem;
  }
  h3,
  h4 {
    color: #00f7ff;
    font-size: 1.1em;
    margin: 1rem 0;
  }
  p {
    color: white;
    line-height: 1.6;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding-left: 1.25rem;
    margin-bottom: 1.25rem;
  }
  li {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    position: relative;
  }
}

.subsection {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.policy-item {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.contact-info {
  background: rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  border-radius: 1rem;
}

.rights-list li {
  list-style: circle;
  padding-left: 3rem;
}

@media (max-width: 768px) {
  .privacy-container {
    padding: 1.25rem;
  }

  h1 {
    font-size: 2em;
  }

  .subsection {
    margin-left: 1rem;
  }

  .policy-section {
    padding: 1rem;
  }
}
